<div class="banner">
  <!-- <h1 class="text-center">Artists</h1> -->
  <div class="container-fluid p-0">
    <div class="banner-inner">
      <!-- <img src="./assets/images/artist-page-banner.jpg" alt="" class="img-fluid"> -->
    </div>
  </div>
</div>
<div class="main-content">
  <div class="container">
    <div class="MC_inner">
      <div class="a-profile">
        <div class="d-flex flex-wrap">
          <div class="img-sec d-flex align-items-center justify-content-center">
            <img src="https://www.officialcharts.com/media/655738/ariana-grande-breathin-1100.jpg?width=796&mode=stretch"
              alt="" class="img-fluid">
          </div>
          <div class="text-sec">
            <p class="name">Ariana grande</p>

          </div>
        </div>
      </div>
      <div class="list">
        <div class="d-flex justify-content-center">
          <a routerLinkActive="active" routerLink="./tracks" class="btn btn-lg btn-primary mr-2">Tracks</a>
          <a routerLinkActive="active" routerLink="./albums" class="btn btn-lg btn-primary ml-2">Albums</a>
        </div>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
