/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'opensans-light';
  src: url("assets/fonts/opensans/OpenSans-Light.ttf");
}

@font-face {
  font-family: 'opensans-regular';
  src: url("assets/fonts/opensans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'opensans-bold';
  src: url("assets/fonts/opensans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: 'opensans-semibold';
  src: url("assets/fonts/opensans/OpenSans-Semibold.ttf");
}

body {
  font-family: 'opensans-regular';
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}


// MODAL CSS
.modal {
  button.close {
    position: absolute;
    background: red;
    text-shadow: none;
    color: #fff;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    line-height: 9px;
    text-align: center;
    padding: 0 7px 3px;
    right: -10px;
    top: -10px;
    opacity: 1;
  }
}

.disablebtn {
  opacity: .5;
  pointer-events: none;
}

.alert {
  padding: 3px 8px;
  margin-top: 5px;
  margin-bottom: 0;
  font-family: "opensans-bold";
  font-size: 13px;
}
